@model HousingManagement.Models.RentAdsList


@{
    ViewData["Title"] = "Buy & Sell";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="padding-top:170px;">
    <!-- search -->
    <div class="row">
        <form asp-controller="Home" asp-action="Rent" method="post">

            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-2">
                    <input type="text" name="Id" placeholder="Search Id" class="form-control">
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Search" class="btn btn-default" />
                    <br /><br /><br />
                </div>
            </div>
        </form>
    </div>

    <!-- Give ad -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal11">Give Advertisement</button>
    <br /><br />
    <!-- Add Modal -->
    <div id="myModal11" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Give the informations for rent of your house</h3>
                </div>
                <div class="modal-body">

                    <form method="POST" action="/Home/InsertRent" enctype="multipart/form-data">
                        <label>Headline</label>
                        <br />
                        <input name="Headline" type="text" required class="form-control">
                        <label>Details</label>
                        <br />
                        <textarea rows="3" name="Details" class="form-control"></textarea>
                        <label>Address</label>
                        <br />
                        <textarea rows="3" name="Address" class="form-control"></textarea>
                        <label>Rent</label>
                        <br />
                        <input name="Rent" type="text" required class="form-control">
                        <label>Main Image</label>
                        <br />
                        <input type="file" name="Image" id="imageBrowes" required class="form-control">
                        <div id="imgPreview" class="w1" style="display:none">
                            <br />
                            <img class="img-responsive" id="targetImg" style="width:200px; height:150px; border:10px;" />
                            <div class="caption">
                                <br />
                                <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                            </div>
                            <br />
                        </div>
                        <label>No of Bedrooms</label>
                        <br />
                        <input type="number" name="BedroomNo" required class="form-control">
                        <label>No of Bathrooms</label>
                        <br />
                        <input type="number" name="BathroomNo" required class="form-control">
                        <label>No of Otherrooms</label>
                        <br />
                        <input type="number" name="OthersNo" required class="form-control">
                        <label>Neighborhood East</label>
                        <br />
                        <input name="NeighborhoodEast" type="text" required class="form-control">
                        <label>Neighborhood East Distance</label>
                        <br />
                        <input name="NeighborhoodEastDistance" type="number" required class="form-control">
                        <label>Neighborhood West</label>
                        <br />
                        <input name="NeighborhoodWest" type="text" required class="form-control">
                        <label>Neighborhood West Distance</label>
                        <br />
                        <input name="NeighborhoodWestDistance" type="number" required class="form-control">
                        <label>Neighborhood North</label>
                        <br />
                        <input name="NeighborhoodNorth" type="text" required class="form-control">
                        <label>Neighborhood North Distance</label>
                        <br />
                        <input name="NeighborhoodNorthDistance" type="number" required class="form-control">
                        <label>Neighborhood South</label>
                        <br />
                        <input name="NeighborhoodSouth" type="text" required class="form-control">
                        <label>Neighborhood South Distance</label>
                        <br />
                        <input name="NeighborhoodSouthDistance" type="number" required class="form-control">
                        <label>Your Id</label>
                        <br />
                        <input name="AddedBy" type="number" required class="form-control">
                        <label>Owner Name</label>
                        <br />
                        <input name="OwnerName" type="text" required class="form-control">
                        <label>Owner Contact</label>
                        <br />
                        <input name="OwnerContact" type="number" required class="form-control">
                        <label>Owner Email</label>
                        <br />
                        <input name="OwnerEmail" type="email" required class="form-control">
                        <hr />
                        <input type="submit" value="Publish Advertisement" class="btn btn-lg btn-success">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Ad List -->
    <table class="table table-bordered table-striped">
        <tbody>
            @foreach (var data in Model.RentAdsAll)
            {
                <tr>
                    <td class="showDetails pointer">@data.Id</td>

                    <td>
                        <center>
                            <img src="~/images/@data.MainImage" style="height:300px;width:600px;" />
                        </center>
                    </td>
                    <td>
                        @Html.ActionLink(@data.Headline, "RentDetails", new { id = @data.Id })
                        <br />
                        <br />
                        <p>@data.BedroomNo</p>
                        <p>Bedrooms</p>
                        <br />
                        <p><b>Address:</b>@data.Address</p>
                    </td>
                    <td>
                        <b>
                            <p>Rent</p>
                            <p>@data.Rent Tk/Month</p>
                        </b>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="location.href='ReportUser'">Report</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Image JS -->
<script src="~/js/jquery1.js"></script>
<script>
    $(document).ready(function () {

        $("#imageBrowes").change(function () {

            var File = this.files;

            if (File && File[0]) {
                ReadImage(File[0]);
            }
        })
    })

    var ReadImage = function (file) {

        var reader = new FileReader;
        var image = new BImage;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                var height = this.height;
                var width = this.width;
                var type = file.type;
                var name = file.name;
                var size = ~~(file.size / 1024) + "KB";

                if (height < 400 && width < 400) {
                    $("#imageBrowes").val('');
                    $("#description").text("Please select more than 200 px Image ");
                }
                else {
                    $("#targetImg").attr('src', _file.target.result);
                    //$("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                    $("#N1").text(type);
                    $("#S1").text(size);
                    $("#H1").text(height);
                    $("#W1").text(width);
                    $("#imgPreview").show();
                    $("#description").text('');
                }
            }
        }
    }
    var ClearPreview = function () {
        $("#imageBrowes").val('');
        $("#description").text('');
        $("#imgPreview").hide();
    }
</script>

